extends ../layout

block title
  .container
    .post-heading
        h1 #{post.title}
        span.created-by
          | Posted by 
          a.post-author(href=`${post.author}`) #{post.author}
          |, 
        span.created-at
          | 
          | #{moment(post._id.getTimestamp()).format('MMM D')}

block content
  article.post!= post.body
