extends ../layout

block title
  .container
    .post-heading
        h1 #{post.title}
        span.meta
        | Posted by 
        a(href=`${post.author}`)
            | #{post.author}
        |  on #{date}

block content
  article.post
    .space-extra-small
    p #{post.body}

